@model CalculatorModel
@{
    ViewData["Title"] = "Result";
}

<h2>Result</h2>

<p>You select to convert @Model.NumberToConvert @Model.StartingUnit to @Model.EndingUnit</p>

<p>Your results are @Model.GetConvertedValue() @Model.EndingUnit</p>




